.hhrBox {
  /* border: 1px solid red; */
  width: fit-content;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  width: 100%;
}

.hhrBox:hover {
  background-color: lightgray;
}

.venueThumb {
  height: 100px;
  width: 100px;
  margin-right: 1rem;
}

.listContainer {
  /* display: flex; */
  width: 25%;
  /* border: 1px solid red; */
  height: 80vh;
  overflow: scroll;
  padding: 1rem;
  /* margin: 0 auto; */
}

.mapContainer {
  width: 75%;
  height: 88vh;
  /* border: 1px solid red; */
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.mapLogo {
  top: 53rem;
  left: 30rem;
  height: 8rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 10rem;
}

.listTitle {
  font-weight: 300;
  font-size: 28px;
  margin: 1rem 0;
  margin-bottom: 2.25rem;
}
