* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.footerContainer {
  height: fit-content;
  /* position: relative;
  bottom: 0px; */
  padding-top: 2rem;
}

.navbar_links {
  display: flex;
  justify-content: space-around;
  padding: 7px 41%;
}
.navbar_links a {
  text-decoration: underline;
  font-size: 12px;
  color: #000;
}

li {
  list-style: none;
}
.agreements {
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  padding: 7px 40%;
}

.footerBg {
  position: relative;
  bottom: 50rem;
}

.social_links {
  display: flex;
  justify-content: space-around;
  padding: 8px 45.5%;
  font-size: 12px;
}

.social_links i {
  font: normal normal normal 15px/1 FontAwesome;
  font-weight: 400;
  background: #c3dedf;
  padding: 16px 17px;
  border-radius: 50%;
  color: rgb(31, 30, 30);
}
