@import url("https://fonts.googleapis.com/css2?family=Smythe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Life+Savers&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  padding-left: 17%;
  align-items: center;
  min-height: 4rem;
  background-color: #ff9900;
  padding-right: 2%;
  width: 100%;
}
.navWrapper {
  height: 6rem;
  box-shadow: 0px 1px 15px 0px rgba(50, 50, 50, 0.1);
  display: flex;
  align-items: flex-end;
  position: sticky;
  top: 0;
  z-index: 2;
}

a {
  text-decoration: none;
}

.logo {
  position: absolute !important;
  left: 3.9% !important;
  top: -0.8rem;
}

.logoImage {
  height: 150px;
  width: 150px;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.nav_links li {
  list-style: none;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  /* margin-top: 1rem; */
  padding-top: 2rem;
  background: #ff9900;
  display: none;
  min-width: 5rem;
  padding: 30px 10px 0px 10px;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.restaurantDropdown {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav_links span {
  font-size: 28px;
  font-weight: 600;
  font-family: "Life Savers", cursive;
  color: white;
  letter-spacing: 1px;
}

.nav_links span:hover {
  border-bottom: solid 3px #f86604;
}

.nav_links span:active {
  border-bottom: solid 3px #f87204;
}

.active {
  border-bottom: solid 3px #f87204;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: #000;
  margin: 5px;
}

@media (max-width: 1024px) {
  .nav_links {
    /* display: flex;
    justify-content: space-around; */
    width: 60%;
  }
}

/* @media (max-width: 768px) {
  .nav_links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #e0a97d;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav_links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
} */

.activeNav {
  border-bottom: 3px solid #f87204;
}
