.feedbackTitle {
    text-align: center;
    margin: 20% 0;
    font-size: 30px;
}

.feedbackContainer {
    height: 55vh;
    width: 100%;
}


.feedbackTitle{
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }