* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: sans-serif;
}
.logoutTitle{
    text-align: center;
   
    font-size: 30px;
    /* padding: 19px 0 0 0; */
    margin-top: 30px;
}
.container {
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 380px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 8px silver;
  background: rgb(50%, 50%, 50%);
}

.card h2 {
  color: white;
  text-align: center;
  margin-bottom: 60px;
}

.card h2:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background: white;
  top: 70px;
  left: 10%;
}

.input_border {
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 30px;
}

.text {
  width: 95%;
  height: 100%;
  padding: 0 10px;
  border: none;
  border-bottom: 2px solid silver;
  background: none;
  font-size: 18px;
  color: rgb(0%, 90%, 80%);
}

.border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.5s;
}

.text:focus ~ .border,
.text:valid ~ .border {
  width: 100%;
}

.input_border label {
  position: absolute;
  top: 8px;
  left: 14px;
  color: silver;
  pointer-events: none;
  font-size: 18px;
  transition: 0.5s;
}

.text:focus ~ label,
.text:valid ~ label {
  top: -12px;
  left: 0;
  color: white;
  font-size: 14px;
}

.btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background: none;
  border: 2px solid silver;
  color: white;
  font-size: 18px;
  transition: 0.5s;
}

.btn:hover {
  border: 2px solid white;
}
